body {
    font-family: Montserrat;
    background: #1f242d;
    padding: 0;
    margin: 0;
}

nav {
    background-color: transparent !important;
  }


.planning {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    margin-top: 10em;
    background-color: #1f242d;
} 

th {
    width: 10em;
}

.heure {
    height: 3vh;
    text-align: center;
    background-color: aqua;
}

.jour {
    background-color: antiquewhite;
}

.vide {
    background-color: white;
}

.plein {
    background-color: aquamarine;
    width: 10em;
}
.plein:hover {
    background-color: #fff;
}



#element-a-cacher7 a {
    color: #2c45d3;
}

/* debut prog */    
.liste-artiste {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
}

.section-artiste {
    background-color: #1f242d;
    border-radius: 1em;
    padding: 1em;
    margin: 2em;
}

.section-artiste li {
    color: #fff;
}

.footer {
    margin-top: 30vh;
}