<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boutique.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/musicPlayer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <h1>Boutique</h1>
    <div class="products-container">
        <div>
            <h2>Pull Gris</h2>
            <img src="../static/img/Pull1.png" alt="sheep">
            <p> Pull gris à l'éffigie de l'association, plusieurs tailles disponibles</p>
            <p> Prix : 39.99€</p>
        </div>
        <div>
            <h2>Pull Bleu</h2>
            <img src="../static/img/Pull2.png" alt="sheep">
            <p> Pull bleu à l'éffigie de l'association, plusieurs tailles et sous couleurs disponibles</p>
            <p> Prix : 39.99€</p>
        </div>
        <div>
            <h2>Porte-Clés</h2>
            <img src="../static/img/KeyChain.png" alt="sheep">
            <p> Pour guarder un souvenir de ce séjour partout avec vous!</p>
            <p> Prix : 4.99€</p>
        </div>
        <div>
            <h2>Gourde</h2>
            <img src="../static/img/Gourde.png" alt="sheep">
            <p> Gourde isothèrme afin de rester hydrater pendant toute la journée</p>
            <p> Prix : 14.99€</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>