<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pass.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}

    {% if 'utilisateur' in session %}
    <div class="container">
        <div class="content">
            <div class="details">
                <div class="center">
                    <h1 class="element">Pass 1 jour - 20€</h1>
                    <p class="acces-festival element">Accès au festival le jour de votre choix</p>
                </div>
                <form class="form-1jour" method="post" action="{{ url_for('pass1jour') }}">
                    {{ form.hidden_tag() }}
                    <ul class="liste-jour">
                        <li>
                            <p class="element">Lundi 17 Mai</p>
                            {{ form.lundi(size=50, class_="element") }} 
                        </li>
                        <li>
                            <p class="element">Mardi 18 Mai</p>
                            {{ form.mardi(size=50, class_="element") }} 
                        </li>
                        <li>
                            <p class="element">Mercredi 19 Mai</p>
                            {{ form.mercredi(size=50, class_="element") }} 
                        <li>
                            <p class="element">Jeudi 20 Mai</p>
                            {{ form.jeudi(size=50, class_="element") }} 
                        </li>
                        <li>
                            <p class="element">Vendredi 21 Mai</p>
                            {{ form.vendredi(size=50, class_="element") }} 
                        </li>
                        <li>
                            <p class="element">Samedi 22 Mai</p>
                            {{ form.samedi(size=50, class_="element") }} 
                        </li>
                    </ul>
                    <p class="erreur">{{ erreur }}</p>
                    <div class="buy">
                        {{ form.submit(size=50, class_="element particip-btn") }} 
                    </div>
                </form>
            </div>
        </div>
    </div>  
    {% else %}
    <h1 class="element pas-co">Vous devez être connecté pour voir cette page</h1>
    {% endif %}
    {% endblock %}
</body>
</html>