<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pass.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    {% if 'utilisateur' in session %}
    <div class="container">
        <div class="content">
            <div class="details">
                <div class="center">
                    <h1>Pass semaine - <span class="dimanche">90€</span></h1>
                    <p class="acces-festival">Accès au festival tout les jours de la semaine <span class="dimanche">excepter le dimanche</span></p>
                    <p class="acces-festival">Lundi 17 Mai, Mardi 18 Mai, Mercredi 19 Mai, Jeudi 20 Mai, Vendredi 21 Mai, Samedi 22 Mai</p>
                </div>
                <form class="form-semaine" method="post" action="/payement?pass=semaine">
                    <div class="buy">
                        <input type="submit" class="particip-btn" value="Participer">
                    </div>
                </form>
            </div>
        </div>
    </div>  
    {% else %}
    <h1 class="element pas-co">Vous devez être connecté pour voir cette page</h1>
    {% endif %}
    {% endblock %}
</body>
</html>