<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pass.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <div class="container">
        <div class="content">
            <div class="details">
                <div class="center">
                    <h1>Pass 2 jour - 35€</h1>
                    <p class="acces-festival">Accès au festival les 2 jours de votre choix</p>
                </div>
                <ul class="liste-jour">
                    <li>
                        <p>Lundi</p>
                        <input type="checkbox">
                    </li>
                    <li>
                        <p>Mardi</p>
                        <input type="checkbox">
                    </li>
                    <li>
                        <p>Mercredi</p>
                        <input type="checkbox">
                    <li>
                        <p>Jeudi</p>
                        <input type="checkbox">
                    </li>
                    <li>
                        <p>Vendredi</p>
                        <input type="checkbox">
                    </li>
                    <li>
                        <p>Samedi</p>
                        <input type="checkbox">
                    </li>
                </ul>
                <div class="buy">
                    <a href="/payement?pass=2jours">Participer</a>
                </div>
            </div>
        </div>
    </div>  
    {% endblock %}
</body>
</html>