<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/planning.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <div class="planning">
        <table>
            <thead>
                <tr>
                    <th class="jour">Heure</th>
                    <th class="jour">Lundi</th>
                    <th class="jour">Mardi</th>
                    <th class="jour">Mercredi</th>
                    <th class="jour">Jeudi</th>
                    <th class="jour">Vendredi</th>
                    <th class="jour">Samedi</th>
                </tr>
            </thead>
            <tbody>
                {% for heure in range(24) %}
                    <tr>
                        <td class="heure">{{heure}} H</td>
                        {% set concert = false %}
                        {% for j in range(6) %}
                            {% for c in creneaux  %}
                                {% if heure == c[4].strftime("%H")|int and c[4].weekday() == j %}
                                    {% set concert = true %}    
                                    <td rowspan="1" class="plein">{{c[6]}}</td>
                                {% endif %}
                            {% endfor %}
                            {% if not concert %}
                                <td class="vide">Pas de concert</td>
                            {% endif %}
                        {% endfor %}
                        {% set concert = false %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>