<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/planning.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <div class="planning">
        <table>
            <thead>
                <tr>
                    <th class="jour">Heure</th>
                    <th class="jour">Lundi</th>
                    <th class="jour">Mardi</th>
                    <th class="jour">Mercredi</th>
                    <th class="jour">Jeudi</th>
                    <th class="jour">Vendredi</th>
                    <th class="jour">Samedi</th>
                    <th class="jour">Dimanche</th>
                </tr>
            </thead>
            <tbody>
                {% for heure in range(24) %}
                    <tr>
                        <td class="heure">{{heure}} H</td>
                        {% for j in range(7) %}
                            {% if pla[heure, j] %}
                                {% if pla[heure, j]|length > 1 %}
                                    <td>
                                        <table>
                                            {% for concert in pla[heure, j] %}
                                                {% if concertChoisit == concert %}
                                                    <td class="plein" style="border: solid 1px red;">{{ concert }}</td>
                                                {% else %}
                                                    <td class="plein">{{ concert }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </td>
                                {% else %}
                                    {% if concertChoisit == pla[heure, j] %}
                                    <td class="plein" style="border: solid 1px red;">{{ pla[heure, j] }}</td>
                                    {% else %}
                                    <td class="plein">{{ pla[heure, j][0] }}</td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td class="vide"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>