<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilArtiste.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/musicPlayer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <section class="container-profil element">
        <div class="info-artiste-container">
            {% if favoris %}
            <p id="nom-groupe">{{ Groupe[2] }} - {{ Groupe[6] }}  <a href="{{ url_for('supprimerFavoris', id=Groupe[1]) }}"><img class="img-fav" src="../static/img/coeur-plein.png" alt="favoris"></a></p>
            {% else %}
            <p id="nom-groupe">{{ Groupe[2] }} - {{ Groupe[6] }}  <a href="{{ url_for('ajouterFavoris', id=Groupe[1]) }}"><img class="img-fav" src="../static/img/coeur-vide.png" alt="favoris"></a></p>
            {% endif %}
            <p id="desc-Artiste">{{ Groupe[4] }}</p>
            <div class="music-container" id="music-container">
                <div class="music-info">
                <h4 class="title" id="title"></h4>
                <div class="progress-container" id="progress-container">
                <div class="progress" id="progress"></div>
                </div>
                </div>
                <audio src="./music/happyrock.mp3" id="audio"></audio>
                <div class="img-container">
                <img src="./images/happyrock.jpg" alt="music-cover" id="cover" />
                </div>
                <div class="navigation">
                <button id="prev" class="action-btn">
                <i class="fa fa-backward" aria-hidden="true"></i>
                </button>
                <button id="play" class="action-btn action-btn-big">
                <i class="fa fa-play" aria-hidden="true"></i>
                </button>
                <button id="next" class="action-btn">
                <i class="fa fa-forward" aria-hidden="true"></i>
                </button>
                </div>
            </div>
            <ul class="reseaux-sociaux">
                <a class="element" href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a class="element" href="https://www.facebook.com/?locale=fr_FR" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a class="element" href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a>
                <a class="element" href="https://open.spotify.com/intl-fr" target="_blank"><i class='bx bxl-spotify'></i></a>
            </ul>
        </div>
        <aside class="aside">
            <img src={{Image}}>
        </aside>
    </section>
    {% if suggestions != [] %}
    <h2 class="titre-suggestion element">Vous pourriez aussi aimer</h2>
    <div class="container-suggestion">
        {% for artiste in suggestions %}
        <a href="{{ url_for('profilGroupe', id=artiste[0]) }}" class="element">
            <div class="suggestion">
                <img src=../static/img/{{artiste[6]}} alt="image artiste"> 
                <p>{{artiste[1]}}</p>
                <p>{{artiste[4]}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <script src="../static/js/musicPlayer.js"></script>
    {% endblock %}
</body>
</html>