<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectateurManagement.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}
    {% block base %}
    <div class="container-all">
        <div class="recherche-spectateur">
            <a href="{{ url_for('admin') }}" class="btn-retour"><img src="../static/img/bouton-retour.png" alt="bouton retour"></a>
            <input class="recherche-barre" type="text" placeholder="Rechercher un spectateur">
            <input class="btn-recherche" type="submit" value="Rechercher">
            <a href="{{ url_for('ajouterSpectateur') }}" class="ajouter-user"><img src="../static/img/ajouter-un-utilisateur.png" alt="ajouter un utilisateur"></a>
        </div>
        <div class="container-all-spectateur">
            {% for spectateur in spectateurs %}
            <a class="lien-container-spectateur" href="{{ url_for('modifierSpectateur', mail=spectateur[0]) }}">
                <div class="container-spectateur">
                    <p>{{ spectateur[1] }}  {{ spectateur[2] }}</p>
                    <p>{{ spectateur[0] }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>